{% load custom_filters %}
{% load static %}

{% for hive in object_list %}
    {% if forloop.last and page_obj.has_next %}
        <tr hx-get="{% url 'hive_list' %}?page={{ page_obj.number|add:1 }}"
            hx-trigger="revealed"
            hx-swap="afterend"
            class="hover"
        >
    {% else %}
        <tr class="hover">
    {% endif %}
        <tr class="hover">
            <td>{{ hive.number }}</td>
            <td class="text-center">
                <div class="flex items-center justify-center">
                    {{ hive.frames_or_height|default:"0" }}
                    {% if hive.frames %}
                        <img src="{% static 'images/honeycomb.svg' %}" alt="Rammer" class="inline-block w-8 h-8 ml-2">
                    {% elif hive.height %}
                        <img src="{% static 'images/bee-box.svg' %}" alt="Kasser" class="inline-block w-8 h-8 ml-2">
                    {% endif %}
                </div>
            </td>
            <td>{{ hive.place }}</td>
            <td class="text-center">
                {% if hive.queen %}
                    {{ hive.queen.color|queen_color_badge:hive.queen.get_color_display }}
                {% endif %}
            </td>
            <td class="text-right">
                <a href="{% url 'hive_update' hive.id %}" class="btn btn-sm btn-secondary">Rediger</a>
                <a href="{% url 'queen_create' hive.id %}" class="btn btn-sm btn-secondary">Tilføj Dronning</a>
                <a href="{% url 'inspection_create' hive.id %}" class="btn btn-sm btn-secondary">Tilføj Inspektion</a>
            </td>
        </tr>
{% endfor %}