{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="card bg-white text-primary-content w-96">
        <div class="card-body">
            <h2 class="card-title">Opret Bruger</h2>
            <hr><br>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div>
                    <button type="submit" class="btn btn-secondary">Opret</button>
                </div>
            </form>
            <br>
        </div>
    </div>
</div>
{% endblock %}