{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center justify-center min-w-screen">
    <div>
        <br>
        <div class="flex items-center space-x-4">
            <h1 class="text-4xl">Stader</h1>
            <a href="{% url 'hive_create' %}" class="btn btn-primary">Opret Stade</a>
        </div>
    </div>
    <div class="w-full px-4 md:px-20">
        <table class="table">
        <thead>
            <tr>
                <th>Nummer</th>
                <th>Rammer</th>
                <th>Lokation</th>
                <th>Dronning</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'htmx/hive_list_table.html' %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}