{% extends "base.html" %}
{% load custom_filters %}

{% block head_title %}mine-bistader.dk - Inspektioner{% endblock head_title %}
{% block content %}
<div class="flex flex-col items-center justify-center min-w-screen">
    <div>
        <br>
        <div class="flex items-center space-x-4">
            <h1 class="text-4xl">Inspektioner</h1>
            <a href="{% url 'inspection_create' %}" class="btn btn-primary">Opret Inspektion</a>
        </div>
    </div>
    <div class="w-full px-4 md:px-20">
        <table class="table">
        <thead>
            <tr>
                <th>Stade</th>
                <th>Dato</th>
                <th>Kommentar</th>
                <th class="text-center">Larver</th>
                <th class="text-center">Æg</th>
                <th class="text-center">Dronning</th>
                <th class="text-center">Humør</th>
                <th class="text-center">Størrelse</th>
                <th class="text-center">Varroa</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'htmx/inspection_list_table.html' %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}