{% extends "base.html" %}

{% block head_title %}mine-bistader.dk - Dronninger{% endblock head_title %}
{% block content %}
<div class="flex flex-col items-center justify-center min-w-screen">
    <div>
        <br>
        <div class="flex items-center space-x-4">
            <h1 class="text-4xl">Dronninger</h1>
            <a href="{% url 'queen_create' %}" class="btn btn-primary">Opret</a>
        </div>
    </div>
    <div class="w-full px-4 md:px-20">
        <table class="table">
        <thead>
            <tr>
                <th>Stade</th>
                <th>Dato</th>
                <th>Kommentar</th>
                <th class="text-center">Farve</th>
                <th class="text-center">Markeret</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% include 'htmx/queen_list_table.html' %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}