{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="flex items-center justify-center min-h-screen">
    <div class="card bg-white text-primary-content w-96">
        <div class="card-body">
            <h2 class="card-title">{% if form.instance.id %}Opdater{% else %}Opret{% endif %} {{view.model.class_name}}</h2>
            <hr><br>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <div>
                    <button type="submit" class="btn btn-secondary" value="Submit">Send</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}